<!DOCTYPE html>
<html>
<head>
	<title>Deveney's blog</title>
</head>
<body>
	<div>
		<h1><a href="/">Django Girls Blog</a></h1>
	</div>

	<div>
		<p>published: 26.05.2018, 16:02</p>
		<h2><a href="">My first post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus maximus est, et laoreet nunc congue sit amet. Sed sollicitudin finibus massa, non ullamcorper nibh semper semper. Duis ut consectetur justo. Quisque neque tellus, pharetra sit amet luctus ut, tempus id lorem. Mauris eu metus dolor. Vestibulum pretium lacinia urna. Mauris porta elit a varius vestibulum. Quisque mollis urna sit amet leo rutrum dapibus. Cras commodo nibh sit amet cursus gravida. Aliquam sollicitudin mi ex, sit amet consequat massa efficitur ut. </p>
	</div>

	<div>
		<p>published: 26.05.2018, 16:03</p>
		<h2><a href="">My second post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus maximus est, et laoreet nunc congue sit amet. Sed sollicitudin finibus massa, non ullamcorper nibh semper semper. Duis ut consectetur justo. Quisque neque tellus, pharetra sit amet luctus ut, tempus id lorem. Mauris eu metus dolor. Vestibulum pretium lacinia urna. Mauris porta elit a varius vestibulum. Quisque mollis urna sit amet leo rutrum dapibus. Cras commodo nibh sit amet cursus gravida. Aliquam sollicitudin mi ex, sit amet consequat massa efficitur ut. </p>
	</div>
</body>
</html>